PLINKCONNECT_USERNAME=woojung.kim@pluglink.kr
PLINKCONNECT_PASSWORD=
GOOGLE_SA_KEY=
SLACK_BOT_TOKEN=
NOTIFY_SLACK_USER_ID=
NOTIFY_SLACK_CHANNEL_ID=
SPREADSHEET_ID=1uf9BmYEvT424rUOD9mpCheVkuBS_7xb9LOjM4aC57bY
SHEET_GID=619747296
